html
    head
        title=title
        link(rel="stylesheet", type="text/css", href="/styles.css")
    body
        .site-wrap
            .chat-list
                ul
                    li message 1
                    li message 2
                    li message 3
                    li message 4

            .chat-form
                input(type="text", placeholder="message")

        script(src="/socket.io/socket.io.js")
        script(src="/application.js")